{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li class="active">Grupos</li>
</ol>

<div id="content">

    <div class="row">


        <div class="col-lg-12">

            <section class="panel">
                <header class="panel-heading">
                    <h2><strong>Grupos</strong></h2>
                    <label class="color">Listado de <em><strong> grupos</strong></em></label>
                </header>

                <div class="panel-body">
                  {% if error %}
                      <div class="alert alert-danger">
                          <strong>Error:</strong> {{ error }}
                      </div>
                  {% endif %}
                  {% if info %}
                      <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                        <div class="table-responsive">
                          <!-- <a  href="/new_user" type="button" class="btn btn-primary" name="button">Agregar Usuario</a> -->
                          <form class="" action="" method="post">
                            {{ form.csrf_token }}
                              <div class="table-filter">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="col-md-2">
                                            {{ render_field_without_label(form.name,value=user_name,class="form-control", placeholder="Nombre") }}
                                          </div>
                                          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                      </div>
                                  </div>
                              </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                  {% for group in groups %}
                                    <tr>
                                        <td>{{group.nombre}}</td>
                                        <td>
                                          <span class="tooltip-area">
                                          <a href="{{url_for('client.edit_group',group_id=group.id)}}" class="btn btn-default btn-sm" title="Editar"><i class="fa fa-pencil"></i></a>
                                          <a href="#"  class="btn btn-default btn-sm delete_group" id="{{group.id}}" title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                          </span>
                                        </td>
                                    </tr>
                                  {% endfor %}

                                </tbody>
                            </table>
                            <div class="clearfix">
                              {{ pagination.links | safe }}
                          </div>
                      </form>
                    </div>
                </div>
            </section>



        </div>

    </div>
    <!-- //content > row-->

</div>
{% endblock %}
