{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li><a href="{{url_for('project.projects')}}">Proyectos</a></li>
    <li><a href="{{url_for('project.projects',id=id_project)}}">Proyecto</a></li>
    <li class="active">Nueva tarea</li>
</ol>
<!-- //breadcrumb-->

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Nueva</strong> Tarea</h2>
                  <label class="color"><a href="{{url_for('project.project',id=id_project)}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                          <a href="{{url_for('project.project',id=id_project)}}" class="btn btn-info">Regresar</a>
                      </div>
                  {% endif %}
                  <form class="form-horizontal" data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >
                    {{ form.csrf_token }}

                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-trello"></i></label>
                          <div>
                              {{ render_field_without_label(form.name,class="form-control", placeholder="Nombre") }}
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa  fa-clock-o"></i></label>
                          <div>
                              {{ render_field_without_label(form.time,class="form-control", placeholder="Horas invertidas",type="number",min="0") }}
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-trello"></i></label>
                          <div>
                              {{ render_field_without_label(form.coment,class="form-control", placeholder="Comentario") }}
                          </div>
                      </div>


                      <div class="form-group offset">

                          <div>
                              <button type="submit" class="btn btn-theme">Agregar</button>
                              {% if info==None %}
                                <button type="reset" class="btn" onclick="formReset()">Limpiar</button>
                              {% endif %}
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>
<!-- //content-->
{% endblock %}
