{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li><a href="{{url_for('project.projects')}}">Proyectos</a></li>
    <li><a href="{{url_for('project.projects',id=id)}}">Proyecto</a></li>
    <li class="active">Nuevo modulo</li>
</ol>
<!-- //breadcrumb-->

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Nuevo</strong> Modulo</h2>
                  <label class="color"><a href="{{url_for('project.project',id=id)}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                          <a href="{{url_for('project.project',id=id)}}" class="btn btn-info">Regresar</a>
                      </div>
                  {% endif %}
                  <form class="form-horizontal form_new_user" data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >
                    {{ form.csrf_token }}
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-trello"></i></label>
                          <div>
                              {{ render_field_without_label(form.name,value='',class="form-control", placeholder="Nombre") }}
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-code"></i></label>
                          <div>
                              {{ render_field_without_label(form.state,class="form-control") }}
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa  fa-calendar"></i></label>
                          <div>
                              {{ render_field_without_label(form.date,value='',class="form-control", type="date") }}
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa  fa-clock-o"></i></label>
                          <div>
                            <div class="col-md-3">
                              <h3  class="title_journeys_hours">Horas</h3>
                            </div>
                            <div class="col-md-3">
                              <div class=" iSwitch flat-switch">
                                <div class="switch switch-small change_journeys_hours">
                                  <input type="checkbox" checked>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              {{ render_field_without_label(form.time,class="form-control input_hours_moduel", placeholder="Horas estimadas",type="number", min="0") }}
                              {{ render_field_without_label(form.journeys,value="0",class="form-control input_journeys_moduel", placeholder="Jornadas estimadas",type="number", min="0",style="display:none") }}
                              {{ render_field_without_label(form.flag_journeys,value="0",class="form-control input_flag_journeys", placeholder="Flag jornadas",type="number", min="0",max="1",style="display:none") }}

                            </div>

                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa  fa-sitemap"></i></label>
                          <div>
                              {{ render_field_without_label(form.priority,class="form-control") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa  fa-pencil"></i></label>
                          <div>
                              {{ render_field_without_label(form.description,value='',class="form-control", placeholder="Descripcion") }}
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-tasks"></i></label>
                          <div>
                            {% if count_sprints_project > 0 %}
                              <select  class="selectpicker  select_sprint_project" data-size="10" data-live-search="true">
                                  <option value="">Sprints</option>
                                  {% for sprint in sprints_project %}
                                    <option value="{{sprint.id}}">{{sprint.nombre}}</option>
                                  {% endfor %}
                              </select>
                            {% endif %}
                            {{ render_field_without_label(form.sprint,class="form-control input_sprint_project", placeholder="Sprint",style="display:none") }}
                            {% if count_sprints_project == 0 %}
                              <div class="alert alert-info">
                                  <strong>Info:</strong> No hay sprints en el proyecto
                                  <a href="{{url_for('project.add_sprint_project',id_project=id)}}" class="btn btn-info">Crear sprint</a>
                              </div>
                            {% endif %}
                          </div>
                      </div>


                      <div class="form-group offset">

                          <div>
                            {% if count_sprints_project > 0 %}
                              <button type="submit" class="btn btn-theme btn_sprint_project" style="display:none">Agregar</button>
                            {% endif %}
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>
<!-- //content-->
{% endblock %}
