{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li><a href="{{url_for('project.projects')}}">Proyectos</a></li>
    <li><a href="{{url_for('project.project',id=id_project)}}">Proyecto</a></li>
    <li class="active">Editar Sprint</li>
</ol>

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Editar {{sprint.nombre}} </strong></h2>
                  <label class="color"><a href="{{url_for('project.project',id=id_project)}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                  <form class="form-horizontal form_new_user" data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-trello"></i></label>
                          <div>
                              {{ render_field_without_label(form.name,value=sprint.nombre,class="form-control", placeholder="Nomre") }}
                          </div>
                      </div>

                      <div class="form-group offset">

                          <div>
                              <button type="submit" class="btn btn-theme">Editar</button>
                                <a type="submit" class="btn btn-info" href="{{url_for('project.project',id=id_project)}}">Volver</a>
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>

{% endblock %}
