{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li><a href="{{url_for('project.projects')}}">Proyectos</a></li>
    <li><a href="{{url_for('project.project',id=id_project)}}">Proyecto</a></li>
    <li class="active">Editar Sprint</li>
</ol>

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Editar {{module.nombre}} </strong></h2>
                  <label class="color"><a href="{{url_for('project.project',id=id_project)}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                  <form class="form-horizontal form_new_user" data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" novalidate>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-trello"></i></label>
                          <div>
                              {{ render_field_without_label(form.name,value=module.nombre,class="form-control", placeholder="Nomre") }}
                          </div>
                      </div>
                      
                        <div class="form-group">
                          <label class="control-label"><i class="fa fa-clock-o"></i></label>
                          <div>
                            <div class="col-md-3">
                              {% if module.flag_jornada %}
                                <h3 class="tittle_edit_time_module">Jornadas</h3>
                              {% else %}
                                <h3 class="tittle_edit_time_module">Horas</h3>
                              {% endif %}
                            </div>
                            <div class="col-md-3">
                              <div class=" iSwitch flat-switch">
                                <div class="switch switch-small switch_edit_time_module">
                                  {% if module.flag_jornada %}
                                    <input type="checkbox">
                                  {% else %}
                                    <input type="checkbox" checked>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              {% if module.flag_jornada %}
                                {{ render_field_without_label(form.journeys,value=module.jornada,class="form-control input_edit_journey_module", placeholder="Jornadas",type="number",min="1") }}
                                {{ render_field_without_label(form.time,value="0",class="form-control input_edit_time_module", placeholder="Horas",type="number",min="1",style="display:none") }}
                                {{ render_field_without_label(form.flag_journeys,value="1",class="form-control input_flag_journeys",type="number",min="0",max="1",style="display:none") }}
                              {% else %}
                                {{ render_field_without_label(form.time,value=module.horas_estimadas,class="form-control input_edit_time_module", placeholder="Horas",type="number",min="1") }}
                                {{ render_field_without_label(form.journeys,value="0",class="form-control input_edit_journey_module", placeholder="Jornadas",type="number",min="1",style="display:none") }}
                                {{ render_field_without_label(form.flag_journeys,value="0",class="form-control input_flag_journeys",type="number",min="0",max="1",style="display:none") }}
                              {% endif %}
                            </div>
                          </div>
                        </div>


                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-sitemap"></i></label>
                        <div>
                          {% if module.prioridad == 'baja' %}
                            {{ render_field_without_label(form.priority,class="form-control") }}
                          {% elif module.prioridad == 'media' %}
                            {{ render_field_without_label(form.priority2,class="form-control") }}
                          {% elif module.prioridad == 'alta' %}
                            {{ render_field_without_label(form.priority3,class="form-control") }}
                          {% endif %}
                        </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-tasks"></i></label>
                          <div>
                            <select  class="selectpicker  select_sprint_project" data-size="10" data-live-search="true">
                                {% for sprint_project in sprints_project %}
                                  {% if sprint_project.id == module.sprint %}
                                    {% if sprint_project.activo == False %}
                                      <option value="{{sprint_project.id}}" selected disabled>{{sprint_project.nombre}} (Inactivo)</option>
                                    {% else %}
                                      <option value="{{sprint_project.id}}" selected>{{sprint_project.nombre}}</option>
                                    {% endif %}
                                  {% else %}
                                    {% if sprint_project.activo == False %}
                                      <option value="{{sprint_project.id}}" disabled>{{sprint_project.nombre}} (Inactivo)</option>
                                    {% else %}
                                      <option value="{{sprint_project.id}}">{{sprint_project.nombre}}</option>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                            </select>
                              {{ render_field_without_label(form.sprint,value=module.sprint,class="form-control input_sprint_project", placeholder="Sprint", style="display:none") }}
                          </div>
                      </div>

                      <div class="form-group offset">

                          <div>
                              <button type="submit" class="btn btn-theme">Editar</button>
                                <a type="submit" class="btn btn-info" href="{{url_for('project.project',id=id_project)}}">Volver</a>
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>

{% endblock %}
