{% extends "template/template.html" %}
{% block content %}
<div id="overview">
    <div class="row" id="jump_to_me">
        <div class="col-sm-9">
            <section class="profile-cover">
              <h2 style="color:white">{{project.nombre}}</h3>
                <div class="profile-avatar">
                    <div>
                      <img alt="" src="{{ url_for('static', filename='img/'+admin.img) }}" class="circle">
                      <span>{{admin.nombre}}</span>
                    </div>
                    {% if session['rol'] == "gestor" %}
                      <a class="btn btn-theme add_member hide_detail" title="Agregar Miembros "><i class="fa fa-plus icon"></i>Miembros</a>
                      <div class="container_add_member" hidden>
                        <input type="text"  class="form-control input_add_member" placeholder="Miembro">
                        <input type="submit"  class="form-control btn-info btn_add_member" id="{{project.id}}" style="margin-top:4px;" value="Agregar" >
                      </div>
                    {% endif %}

                </div>
                <div class="profile-status">
                    {% if count_sprints == 1 %}
                      <a class="btn"> {{count_sprints}} <small>Modulo</small></a>
                    {% else %}
                      <a class="btn"> {{count_sprints}} <small>Modulos</small></a>
                    {% endif %}
                    {% if count_members == 1 %}
                      <a class="btn"> {{count_members}} <small> Miembro</small></a>
                    {% else %}
                      <a class="btn"> {{count_members}} <small> Miembros</small></a>
                    {% endif %}
                </div>
            </section>
        </div>
        <!-- //content > row > col-sm-9 -->

        <div class="col-sm-3">
            <section class="profile-about">
                <h3>{{project.nombre}}</h3>
                <hr>
                <p>{{project.descripcion}}</p>
            </section>
        </div>
        <!-- //content > row > col-lg-3 -->
    </div>
    <!-- //row-->
</div>

<div class="row">
  <div class="container_assign_developer col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span class="easy-chart avatar-chart" data-color="theme-inverse" data-percent="0" data-track-color="rgba(255,255,255,0.1)" data-line-width="5" data-size="118">
          <img alt="" src="{{ url_for('static', filename='img/avatar2.png') }}" class="circle">
      </span>
      <input type="text"  class="form-control input_add_developer" placeholder="Developer">
      <input type="submit"  class="form-control btn-primary btn_add_developer" id="{{project.id}}" style="margin-top:4px;" value="Agregar Developer" >
      <input type="text" class="name_taks" style="visibility:hidden">
      <input type="text" class="id_taks" style="visibility:hidden">
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="tabbable">
    <ul id="profile-tab" class="nav nav-tabs" data-provide="tabdrop">
        <li><a href="#" id="prevtab" data-change="prev"><i class="fa fa-chevron-left"></i></a></li>
        <li><a href="#" id="nexttab" class="change" data-change="next"><i class="fa fa-chevron-right"></i></a></li>
        <li class="active"><a href="#tab2" data-toggle="tab" class="label_table hide_detail" dato="Pendientes">Pendientes <span class="badge">{{count_pendientes}}</span></a> </li>
        <li><a href="#tab3" data-toggle="tab" class="label_table hide_detail" dato="En proceso">En proceso <span class="badge">{{count_desarrollo}}</span></a></li>
        <li><a href="#tab4" data-toggle="tab" class="label_table hide_detail" dato="Finalizados">Finalizados <span class="badge">{{count_finales}}</span></a></li>
        {% if count_sprints !=0 %}
          <li><a href="#tab7" data-toggle="tab" class="label_table hide_detail" dato="Detalles">Detalles</a></li>
        {% endif %}
        <li><a href="#tab6" data-toggle="tab" class="timeline-show label_table hide_detail" dato="Historial">Historial</a></li>
        <li><a href="#tab8" data-toggle="tab" class="timeline-show label_table hide_detail" dato="Miembros">Miembros</a></li>
        <li><a href="#tab9" data-toggle="tab" class="timeline-show label_table hide_detail" dato="Sprints">Sprints</a></li>
        {% if project.estado != "Finalizado" and session['rol']=="gestor" %}          
          {% if session['id_user'] == project.admin %}
            <li><a href="{{url_for('project.add_sprint',id=project.id)}}"  class="timeline-show label_table hide_detail bg-primary" dato="Agregar modulo">Agregar modulo</a></li>
            <li><a href="{{url_for('project.upload_excel_modules',id_project=project.id)}}"  class="timeline-show label_table hide_detail bg-primary" dato="Agregar modulo">Cargar Excel</a></li>
          {% endif %}
        {% endif %}
    </ul>
    {% if info %}
      <div class="alert alert-info">
            <strong>Info:</strong> {{ info }}
        </div>
    {% endif %}
    {% if error %}
      <div class="alert alert-danger">
            <strong>Error :</strong> {{ error }}
        </div>
    {% endif %}
    <div class="tab-content row">

            <div class="tab-pane fade in active col-lg-8" id="tab2">
              {% for sprint in sprints %}
                {% if sprint.estado=="Pendiente" %}
                  <div class="col-md-6 ">
                    <section class="panel " style="box-shadow: 0px 0px 1px #000">
                      <header class="panel-heading">
                          <strong><p class="">{{sprint.nombre}}</p></strong>
                          <p class="">{{sprint.descripcion}}</p>
                          {% if sprint.flag_cliente %}
                            <label class="color label-info bg-warning"><em><strong>Cliente</strong></em></label>
                          {% else %}
                            <label class="color label-info bg-primary"><em><strong>Admin</strong></em></label>
                          {% endif %}
                          {% if sprint.flag_jornada %}
                            <label class="color label-info">{{sprint.fecha_estimada}}<em><strong> - {{sprint.jornada}} jornadas</strong></em></label>
                          {% else %}
                            <label class="color label-info">{{sprint.fecha_estimada}}<em><strong> - {{sprint.horas_estimadas}} horas</strong></em></label>
                          {% endif %}
                          <label class="color label-info bg-primary"><em><strong>Prioridad {{sprint.prioridad}}</strong></em></label>
                          <label class="color label-info coments_module" id_project="{{project.id}}" id="{{sprint.id}}" estado="{{sprint.estado}}"  style="cursor:pointer"><em><strong>Comentarios</strong></em></label>
                          <label class="color label-info bg-warning" style="cursor:pointer"><em><strong>{{sprint.sprint}}</strong></em></label>
                      </header>
                      <div class="panel-tools half-line circle" align="right">
                          <ul class="tooltip-area">
                            {% if (sprint.horas_estimadas != 0) or (sprint.jornada != 0) %}
                              {% if session['rol']=="gestor" %}
                                <li><a href="javascript:void(0)" class="btn btn-primary process_sprint" id_project="{{project.id}}" id="{{sprint.id}}" title="A proceso" dato="En proceso"><i class="fa  fa-check"></i></a></li>
                                <li><a href="{{url_for('project.edit_module',id_project=project.id,id_module=sprint.id)}}" class="btn btn-warning" title="Editar"><i class="fa  fa-pencil"></i></a></li>
                              {%endif%}
                              <li><a href="#detail_sprint" class="btn btn-primary show_sprint_detail"  id="{{sprint.id}}" id_project="{{project.id}}" title="Detalle"><i class="fa fa-sort-amount-asc"></i></a></li>
                              <li><a href="#" class="btn btn-warning show_documents_module"  id="{{sprint.id}}" id_project="{{project.id}}"  title="Adjuntos"><i class="fa fa-chain"></i></a></li>
                              {% if session['rol']=="gestor" %}
                                <li><a href="javascript:void(0)" class="btn btn-primary assign_developer" id_project="{{project.id}}" id="{{sprint.id}}" name="{{sprint.nombre}}" title="Asignar developer"><i class="fa fa-user"></i></a></li>
                                <li><a href="javascript:void(0)" class="btn btn-warning btn_list_developers" id_project="{{project.id}}" id="{{sprint.id}}" title="Listado de developers"><i class="fa  fa-bars"></i></a></li>
                                <li><a href="javascript:void(0)" class="btn btn-danger delete_sprint" id_project="{{project.id}}" id="{{sprint.id}}" title="Eliminar"><i class="fa fa-times"></i></a></li>
                              {%endif%}
                            {% else %}
                              <li><a href="{{url_for('project.edit_module',id_project=project.id,id_module=sprint.id)}}" class="btn btn-warning" title="Editar"><i class="fa  fa-pencil"></i></a></li>
                            {% endif %}
                          </ul>
                      </div>

                  </section>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="tab-pane fade in  col-lg-8" id="tab3">
              {% for sprint in sprints %}
                {% if sprint.estado=="En proceso" %}
                  <div class="col-md-6 ">
                    <section class="panel " style="box-shadow: 0px 0px 1px #000">
                      <header class="panel-heading">
                          <strong><p class="">{{sprint.nombre}}</p></strong>
                          <p class="">{{sprint.descripcion}}</p>
                          {% if sprint.flag_cliente %}
                            <label class="color label-info bg-warning"><em><strong>Cliente</strong></em></label>
                          {% else %}
                            <label class="color label-info bg-primary"><em><strong>Admin</strong></em></label>
                          {% endif %}
                          {% if sprint.flag_jornada %}
                            <label class="color label-info">{{sprint.fecha_estimada}}<em><strong> - {{sprint.jornada}} jornadas</strong></em></label>
                          {% else %}
                            <label class="color label-info">{{sprint.fecha_estimada}}<em><strong> - {{sprint.horas_estimadas}} horas</strong></em></label>
                          {% endif %}
                          <label class="color label-info bg-primary"><em><strong>Prioridad {{sprint.prioridad}}</strong></em></label>
                          <label class="color label-info coments_module" id_project="{{project.id}}" id="{{sprint.id}}" style="cursor:pointer"><em><strong>Comentarios</strong></em></label>
                          <label class="color label-info bg-warning" style="cursor:pointer"><em><strong>{{sprint.sprint}}</strong></em></label>
                      </header>
                      <div class="panel-tools half-line circle" align="right">
                          <ul class="tooltip-area">
                            {% if (sprint.horas_estimadas != 0) or (sprint.jornadas != 0) %}
                              {% if session['rol']=="gestor" %}
                                <li><a href="javascript:void(0)" class="btn btn-primary process_sprint" id_project="{{project.id}}" id="{{sprint.id}}" title="Finalizar" dato="Finalizado"><i class="fa  fa-check"></i></a></li>
                                <li><a href="{{url_for('project.edit_module',id_project=project.id,id_module=sprint.id)}}" class="btn btn-warning" title="Editar"><i class="fa  fa-pencil"></i></a></li>
                              {%endif%}
                              <li><a href="#detail_sprint" class="btn btn-primary show_sprint_detail"  id="{{sprint.id}}" id_project="{{project.id}}" title="Detalle"><i class="fa fa-sort-amount-asc"></i></a></li>
                              <li><a href="#" class="btn btn-warning show_documents_module"  id="{{sprint.id}}" id_project="{{project.id}}" estado="{{sprint.estado}}"  title="Adjuntos"><i class="fa fa-chain"></i></a></li>
                              {% if session['rol']=="gestor" %}
                                <li><a href="javascript:void(0)" class="btn btn-primary assign_developer" id_project="{{project.id}}" id="{{sprint.id}}" name="{{sprint.nombre}}" title="Asignar developer"><i class="fa fa-user"></i></a></li>
                                <li><a href="javascript:void(0)" class="btn btn-warning btn_list_developers" id_project="{{project.id}}" id="{{sprint.id}}" title="Listado de developers"><i class="fa  fa-bars"></i></a></li>
                                <li><a href="javascript:void(0)" class="btn btn-danger delete_sprint" id_project="{{project.id}}" id="{{sprint.id}}" title="Eliminar"><i class="fa fa-times"></i></a></li>
                              {%endif%}
                            {% else %}
                              <li><a href="{{url_for('project.edit_module',id_project=project.id,id_module=sprint.id)}}" class="btn btn-warning" title="Editar"><i class="fa  fa-pencil"></i></a></li>
                            {% endif %}
                          </ul>
                      </div>

                  </section>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="tab-pane fade in  col-lg-8" id="tab4">
              {% for sprint in sprints %}
                {% if sprint.estado=="Finalizado" %}
                  <div class="col-md-6 ">
                    <section class="panel " style="box-shadow: 0px 0px 1px #000">
                      <header class="panel-heading">
                          <strong><p class="">{{sprint.nombre}}</p></strong>
                          <p class="">{{sprint.descripcion}}</p>
                          {% if sprint.flag_cliente %}
                            <label class="color label-info bg-warning"><em><strong>Cliente</strong></em></label>
                          {% else %}
                            <label class="color label-info bg-primary"><em><strong>Admin</strong></em></label>
                          {% endif %}
                          {% if sprint.flag_jornada %}
                            <label class="color label-info">{{sprint.fecha_estimada}}<em><strong> - {{sprint.jornada}} jornadas</strong></em></label>
                          {% else %}
                            <label class="color label-info">{{sprint.fecha_estimada}}<em><strong> - {{sprint.horas_estimadas}} horas</strong></em></label>
                          {% endif %}
                          <label class="color label-info bg-primary"><em><strong>Prioridad {{sprint.prioridad}}</strong></em></label>
                          <label class="color label-info coments_module" id_project="{{project.id}}" id="{{sprint.id}}" style="cursor:pointer"><em><strong>Comentarios</strong></em></label>
                          <label class="color label-info bg-warning" style="cursor:pointer"><em><strong>{{sprint.sprint}}</strong></em></label>
                      </header>
                      <div class="panel-tools half-line circle" align="right">
                          <ul class="tooltip-area">
                            <li><a href="#detail_sprint" class="btn btn-primary show_sprint_detail"  id="{{sprint.id}}" id_project="{{project.id}}" title="Detalle"><i class="fa fa-sort-amount-asc"></i></a></li>
                            {% if session['rol']=="gestor" %}
                              <li><a href="javascript:void(0)" class="btn btn-warning btn_list_developers" id_project="{{project.id}}" id="{{sprint.id}}" title="Listado de developers"><i class="fa  fa-bars"></i></a></li>
                            {% endif %}
                            <li><a href="#" class="btn btn-primary show_documents_module"  id="{{sprint.id}}" id_project="{{project.id}}" estado="{{sprint.estado}}"  title="Adjuntos"><i class="fa fa-chain"></i></a></li>
                          </ul>
                      </div>

                  </section>
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="tab-pane fade col-lg-8" id="tab6">
                <div class="widget-timeline">
                    <ul>
                      {% for record in records %}
                        {% if record.position=="right" %}
                          <li class="{{record.position}} corner-flip flip-bg-white bd-{{record.color}}">
                        {% else %}
                          <li class="{{record.position}}  flip-bg-white bd-{{record.color}}">
                        {% endif %}
                            <section class="bg-{{record.color}}">
                                  <time style="color:white"><i class="fa fa-calendar-o"></i>{{record.fecha_creacion}}</time>
                                <h3>{{record.nombre}}</h3>
                                {{record.descripcion}}
                            </section>

                        </li>
                      {% endfor %}
                        <li class="highlight">
                            <section>
                                <time><i class="fa fa-clock-o"></i>{{project.fecha_creacion}}</time>
                                <h3>Se creo el proyecto</h3>
                                <p>Creado por {{admin.user}}</p>
                            </section>
                        </li>

                    </ul>
                </div>
            </div>

            {% if count_sprints !=0 %}
              <div class="tab-pane fade in  col-lg-12" id="tab7">
                <section class="panel  col-md-4" style="">
                    <header class="panel-heading no-borders">
                        <h2><strong>Horas</strong>del proyecto</h2>
                    </header>
                    <div class="widget-chart" style=" padding-bottom:30px;">
                        <table class="flot-chart" data-type="pie" data-inner-radius="0.4"  data-pie-label="show" data-pie-style="shadow"  data-width="100%" data-height="220px" data-toolstip="false">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="color : #FFCC33;">Estimadas</th>
                                    <th style="color : #F37864;">Invertidas</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th></th>
                                    <td>{{project.horas_estimadas}}</td>
                                    <td>{{project.horas_invertidas}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </section>
                <section class="panel  col-md-4" style="">
                </section>
                <section class="panel  col-md-4" style="">
                    <header class="panel-heading no-borders">
                      <h2><strong>Grafica</strong> del proyecto </h2>
                    </header>
                    <span class="easy-chart" style="margin-top:50px;margin-left:50px" data-percent="{{percent}}" data-color="#575757" data-track-color="#FFCC33" data-line-width="25" data-size="150" data-shadow="true">
                        <span class="percent"></span>
                    </span>

                </section>




            </div>
            {% endif %}

            <div class="tab-pane fade col-lg-8" id="tab8">
              {% for member in members %}
                <div class="col-md-6 ">
                  <section class="panel " style="box-shadow: 0px 0px 1px #000">
                    <header class="panel-heading">
                        <h3 class="">{{member.user_name}}</h3>
                    </header>
                    <div class="panel-tools half-line circle" align="right">
                        <ul class="tooltip-area">
                            {% if session['id_user'] == project.admin %}
                            <li><a href="javascript:void(0)" class="btn btn-danger delete_member" id_project="{{member.id_proyecto}}"
                               id_usuario="{{member.id_usuario}}" id="{{member.id}}" title="Expulsar"><i class="fa fa-times"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </section>
                </div>
              {% endfor %}
            </div>

            <div class="tab-pane fade col-lg-8" id="tab9">
              {% for sprint_project in sprints_project %}
                <div class="col-md-6 ">
                  <section class="panel " style="box-shadow: 0px 0px 1px #000">
                    <header class="panel-heading">
                        <h3 class="">{{sprint_project.nombre}}</h3>
                    </header>
                    <div class="panel-tools half-line circle" align="right">
                        <ul class="tooltip-area">
                            {% if session['id_user'] == project.admin %}
                              <li><a href="{{url_for('project.edit_sprint_project',id_sprint=sprint_project.id,id_project=project.id)}}" class="btn btn-warning" title="Editar"><i class="fa fa-pencil"></i></a></li>
                              {% if sprint_project.modulos == 0 %}
                                <li><a href="javascript:void(0)" class="btn btn-danger delete_sprint_project" id="{{sprint_project.id}}" id_project="{{project.id}}" title="Eliminar"><i class="fa fa-times"></i></a></li>
                              {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </section>
                </div>
              {% endfor %}
              {% if session['id_user'] == project.admin %}
                <div class="col-md-12">
                  <a href="{{url_for('project.add_sprint_project',id_project=project.id)}}" class=" btn btn-primary " style="margin-left:20px" >Agregar Sprint</a>
                </div>
              {% endif %}

            </div>


                <div class="col-lg-4 show_menu_details">
                  <section class="panel panel_comments_module" style="display:none">
                      <div class="widget-chat">
                          <header>
                              <span class="chat-collapse pull-right" title="Collapse chat">
                                  <i class="fa fa-minus"></i>
                              </span>
                              <h4 class="online"> Comentarios</h4>
                              <label class="label_id_user" id="{{session['id_user']}}"></label>
                              <label class="label_id_comment" id=""></label>
                          </header>
                          <div class="chat-body" >
                              <dl class="chat container_chat_module">

                              </dl>
                          </div>
                          <footer>
                              <div class="message-input" action="#">
                                  <input name="message" class="input_comment_module" type="text" placeholder="Ingresa tu comentario" autocomplete="False"/>
                                  <button type="button" class="btn btn-theme btn_input_module" disabled=True>Comentar</button>
                              </div>
                          </footer>
                      </div>
                  </section>

                  <section class="panel">
                    <div class="widget-clock">
                      <div id="clock"></div>
                    </div>
                  </section>
                  <section class="panel">
                    <div class="widget-rating row">
                        <div class="col-xs-12">
                            <div class="well corner-flip flip-gray flip-bg-white bg-palevioletred-darken">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 text-center">
                                        <h1 class="rating-num" >{{sprint_pending}}</h1>
                                        {% if sprint_pending >= 0 %}
                                          <div> <span class="fa fa-code" style="margin-top:10px"></span> Pendientes</div>
                                        {% else %}
                                          <div> <span class="fa fa-code" style="margin-top:10px"></span> Pendiente</div>
                                        {% endif %}
                                        {% if count_sprints == count_finales and project.estado!="Finalizado" and session['rol']=="gestor" and count_finales>0 %}
                                          <a href="#" class=" btn btn-primary btn_finish_project" id={{project.id}} style="margin-left:20px;margin-top:10px" >Finalizar proyecto</a>
                                        {% endif %}
                                        {% if session['id_user'] == project.admin and project.estado=="Finalizado" and session['rol']=="gestor" %}
                                          <a href="#" class=" btn btn-danger btn_project_to_development" id={{project.id}} style="margin-left:20px;margin-top:10px" >Volver a desarrollo</a>
                                        {% endif %}
                                    </div>

                                    <!-- end xs-12 -->
                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end well-->
                        </div>
                        <!-- end xs-12 -->
                    </div>
                  </section>

                </div>


            </div>
            <!-- //content > row > col-lg-4 -->

    </div>
    <!-- //tab-content -->
    <div class="col-md-12" style="height:2px"  id="detail_sprint">

    </div>
    <div class="col-md-12 container_documents" style="margin-top:10px;background-color: white; display:none">

      <hr>
      <div class="row">
          <div class="box-feed  clearfix container_documents_detail">

          </div>
          <a href="#" class=" btn btn-primary btn_redirect_document_module" style="margin-left:20px">Agregar documento</a>
      </div>
    </div>
    <div class="container_detail_sprint col-md-12"  style="margin-top:10px">
       <div class="row">
         <div class="col-md-4">
           <h2 class="title_sprint"></h2>
         </div>
         <div class="col-md-4 text-center">
           <h2><strong>Fecha  </strong> estimada</h2>
           <h3 class="date_sprint"></h3>
         </div>
         <div class="col-md-4 text-center">
           <h2><strong>Tiempo  </strong> estimado</h2>
           <h3 class="time_sprint"></h3>
         </div>
       </div>

       <div class="row">
         <div class="widget-timeline">
          <ul class="container_list_sprint">

          </ul>
          {% if session['rol'] == "developer" or session['rol'] == "gestor" %}
            <a href="#" class=" btn btn-primary btn_add_task" style="margin-left:20px" >Agregar tarea</a>
          {% endif %}
        </div>
       </div>

    </div>
    <div class="row">
      <div class="container_list_developers col-md-12" style="margin-top:10px">
      </div>
    </div>

</div>

{% endblock %}
