{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li class="active">Proyectos</li>
</ol>

<div id="content">

    <div class="row">


        <div class="col-lg-12">
          {% if error %}
            <div class="alert alert-danger">
                  <strong>Error :</strong> {{ error }}
              </div>
          {% endif %}
            <section class="panel">
                <header class="panel-heading">
                    <h2><strong>Proyectos</strong></h2>
                    <label class="color">Listado de <em><strong> proyectos</strong></em></label>
                </header>
                <div class="panel-body">
                  <div class="table-responsive">
                    <form class="" action="" method="post">
                      {{ form.csrf_token }}
                      <div class="table-filter">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="col-md-2">
                                    {{ render_field_without_label(form.name,value=name,class="form-control", placeholder="Nombre") }}
                                  </div>
                                  <div class="col-md-2">
                                    {{ render_field_without_label(form.state,value=name,class="form-control") }}
                                  </div>
                                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                              </div>
                          </div>
                      </div>
                      <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Horas Estimadas</th>
                                {% if session['rol'] == 'gerente' or session['id_user'] =='5ba2dfb1b4359e0ec07ac8df' %}
                                  <th>Costo estimado</th>
                                {% endif %}
                                <th>Horas Invertidas</th>
                                {% if session['rol'] == 'gerente' or session['id_user'] =='5ba2dfb1b4359e0ec07ac8df' %}
                                  <th>Costo Real</th>
                                {% endif %}
                                <th>Eficiencia</th>
                                <th>Estado</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody align="center">
                          {% for project in projects %}
                            <tr>
                                <td>
                                  {% if project.estado !="Pendiente" %}
                                    <a class="show_project" id="{{project.id}}" href="#">{{project.nombre}}</a>
                                  {% else %}
                                    {{project.nombre}}
                                  {% endif %}
                                </td>
                                <td>
                                  {% if project.estado !="Pendiente" %}
                                    {{project.fecha_creacion}}
                                  {%else%}
                                    <p>No definida</p>
                                  {% endif %}
                                  </td>
                                <td>
                                  {% if project.estado =="Finalizado" %}
                                    {{project.fecha_fin}}
                                  {% endif %}
                                  {% if project.estado !="Finalizado" %}
                                    <p>No definida</p>
                                  {% endif %}
                                </td>
                                <td>{{project.horas_estimadas}}</td>
                                {% if session['rol'] == 'gerente' or session['id_user'] =='5ba2dfb1b4359e0ec07ac8df' %}
                                  <td>{{"{:,}".format(project.costo_estimado|int) }}</td>
                                {% endif %}
                                <td>
                                    {{project.horas_fin}}
                                </td>
                                {% if session['rol'] == 'gerente' or session['id_user'] =='5ba2dfb1b4359e0ec07ac8df' %}
                                  <td>{{"{:,}".format(project.costo_real|int)}}</td>
                                {% endif %}
                                <td>{{project.eficiencia}} %</td>
                                <td>
                                  {% if project.estado=="En desarrollo" %}
                                    <span class="label label-info">{{project.estado}}</span>
                                  {% endif %}
                                  {% if project.estado=="Pendiente" %}
                                    <span class="label label-warning">{{project.estado}}</span>
                                  {% endif %}
                                  {% if project.estado=="Finalizado" %}
                                    <span class="label label-success">{{project.estado}}</span>
                                  {% endif %}
                                </td>
                                <td>
                                  {% if project.estado == "Pendiente" and project.admin == session['id_user']  %}
                                    <a href="#"><i class="fa fa-check process_project" admin="{{project.admin}}" id = "{{project.id}}"></i></a>
                                  {% endif %}
                                  {% if project.estado!="Finalizado" %}
                                    <a href="{{url_for('project.edit_project',id=project.id)}}"><i class="icon  fa fa-pencil"></i></a>
                                  {% endif %}
                                  {% if project.estado != "Pendiente"  %}
                                    <a class="show_project" id="{{project.id}}" href="#"><i class="icon  fa fa-share "></i></a>
                                  {% endif %}
                                  {% if session['id_user']==project.admin  %}
                                    {% if project.estado=='Pendiente' %}
                                      <a href="#" id="{{project.id}}" class="delete_project"><i class="icon  fa fa-trash-o"></i></a>
                                    {% endif %}
                                  {% endif %}
                                </td>
                            </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                      <div class="clearfix">
                        {{ pagination.links | safe }}
                      </div>
                    </form>
                  </div>
                </div>

            </section>


        </div>

    </div>
    <!-- //content > row-->

</div>
{% endblock %}
