{% macro render_field(field) %}
    <div class="form-group">
        <label class="control-label">{{ field.label }}</label>
        <dd>
            {{ field(**kwargs)|safe }}

        </dd>
    </div>
    {% if field.errors %}
        <div class="alert alert-danger">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}


{% macro render_field_search(field) %}
    <div class="filter-group">
        <label>{{ field.label }}</label>

        {{ field(**kwargs)|safe }}

    </div>
{% endmacro %}


{% macro render_field_without_label(field) %}
    <div class="form-group">
        <dd>
            {{ field(**kwargs)|safe }}

        </dd>
    </div>
    {% if field.errors %}
        <div class="alert-danger">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}


{% macro render_boolean_field(field) %}
    <dd>{{ field.label }}{{ field(**kwargs)|safe }}

    </dd>
    <br/>
    {% if field.errors %}
        <div class="alert alert-danger">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}


{% macro render_errors(field) %}
    {% if field.errors %}
        <div class="alert alert-danger">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
