<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>App</title>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='ico/apple-touch-icon-57-precomposed.png') }}">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <!-- CSS Stylesheet-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap-themes.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- Styleswitch if  you don't chang theme , you can delete -->
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style1" href="{{ url_for('static', filename='css/styleTheme1.css') }}" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style2" href="{{ url_for('static', filename='css/styleTheme2.css') }}" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style3" href="{{ url_for('static', filename='css/styleTheme3.css') }}" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style4" href="{{ url_for('static', filename='css/styleTheme4.css') }}" />

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/mmenu/jquery.mmenu.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/styleswitch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/styleswitch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/form/form.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/datetime/datetime.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/chart/chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/pluginsForBS/pluginsForBS.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/miscellaneous/miscellaneous.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/caplet.custom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/validate_user_exist.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sweet.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>

  </head>

    {% block content%}
    {% endblock %}

</html>
