<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>App</title>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='ico/apple-touch-icon-57-precomposed.png') }}">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <!-- CSS Stylesheet-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap-themes.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- Styleswitch if  you don't chang theme , you can delete -->
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style1" href="{{ url_for('static', filename='css/styleTheme1.css') }}" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style2" href="{{ url_for('static', filename='css/styleTheme2.css') }}" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style3" href="{{ url_for('static', filename='css/styleTheme3.css') }}" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style4" href="{{ url_for('static', filename='css/styleTheme4.css') }}" />


  </head>
  <body>

    <div id="wrapper">
    		<!--
    		/////////////////////////////////////////////////////////////////////////
    		//////////     HEADER  CONTENT     ///////////////
    		//////////////////////////////////////////////////////////////////////
    		-->
    		<div id="header">

    				<div class="logo-area clearfix">
    						<h1 style="color:white"><a href="{{url_for('user.home')}}" style="text-decoration:none">Blautech</a></h1>
    				</div>
    				<!-- //logo-area-->

    				<div class="tools-bar">
    						<ul class="nav navbar-nav nav-main-xs">
    								<li><a href="#menu" class="icon-toolsbar"><i class="fa fa-bars"></i></a></li>
    						</ul>
    						<ul class="nav navbar-nav navbar-right tooltip-area">

    								<!-- <li><button class="btn btn-circle btn-header-search" ><i class="fa fa-search"></i></button></li> -->
    								<li><a href="{{url_for('user.notifications')}}" class=" avatar-header">
    												<img alt="" src="{{ url_for('static', filename='img/'+session['img_user']) }}"  class="circle">
    										</a>
    								</li>
    								<li class="dropdown">
                        {% if session['logged_in'] %}
    										<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
    											<em><strong>{{ session['name_user'] }}</strong></em> <i class="dropdown-icon fa fa-angle-down"></i>
    										</a>
                        {% endif %}
    										<ul class="dropdown-menu pull-right icon-right arrow">
                            <li><a href="{{url_for('client.edit_profile')}}"><i class="fa fa-cog"></i> Editar </a></li>
    												<li><a href="{{url_for('user.logout')}}"><i class="fa fa-sign-out"></i> Salir </a></li>
    										</ul>
    										<!-- //dropdown-menu-->
    								</li>
    								<li class="visible-lg">
    									<a href="#" class="h-seperate fullscreen" data-toggle="tooltip" title="Full Screen" data-container="body"  data-placement="left">
    										<i class="fa fa-expand"></i>
    									</a>
    								</li>
    						</ul>
    				</div>
    				<!-- //tools-bar-->

    		</div>
    		<!-- //header-->


    		<!--
    		/////////////////////////////////////////////////////////////////////////
    		//////////     SLIDE LEFT CONTENT     //////////
    		//////////////////////////////////////////////////////////////////////
    		-->
    		<div id="nav">
    				<div id="nav-scroll">
    						<div class="avatar-slide">

    								<span class="easy-chart avatar-chart" data-color="theme-inverse" data-percent="100" data-track-color="rgba(255,255,255,0.1)" data-line-width="5" data-size="118">

    										<img alt="" src="{{ url_for('static', filename='img/'+session['img_user']) }}" class="circle">
    								</span>

                  	<!-- //avatar-chart-->


    								<!-- //avatar-detail-->



    						</div>
    						<!-- //avatar-slide-->

                <!-- AQUI VA MIS PROYECTOS -->





    				</div>
    				<!-- //nav-scroller-->
    		</div>
    		<!-- //nav-->


    		<!--
    		/////////////////////////////////////////////////////////////////////////
    		//////////     TOP SEARCH CONTENT     ///////
    		//////////////////////////////////////////////////////////////////////
    		-->
    		<div class="widget-top-search">
    			<span class="icon"><a href="#" class="close-header-search"><i class="fa fa-times"></i></a></span>
    			<form id="top-search">
    					<h2><strong>Quick</strong> Search</h2>
    					<div class="input-group">
    							<input  type="text" name="q" placeholder="Find something..." class="form-control" />
    							<span class="input-group-btn">
    							<button class="btn" type="button" title="With Sound"><i class="fa fa-microphone"></i></button>
    							<button class="btn" type="button" title="Visual Keyboard"><i class="fa fa-keyboard-o"></i></button>
    							<button class="btn" type="button" title="Advance Search"><i class="fa fa-th"></i></button>
    							</span>
    					</div>
    			</form>
    		</div>
    		<!-- //widget-top-search-->


    		<!--
    		/////////////////////////////////////////////////////////////////////////
    		//////////     MAIN SHOW CONTENT     //////////
    		//////////////////////////////////////////////////////////////////////
    		-->
    		<div id="main">

            {% block content %}

            {% endblock %}



    		</div>
    		<!-- //main-->



    		<!--
    		//////////////////////////////////////////////////////////////
    		//////////     LEFT NAV MENU     //////////
    		///////////////////////////////////////////////////////////
    		-->
    		<nav id="menu">
    				<ul>
              <li><a href="{{url_for('client.projects_client')}}"><i class="icon fa fa-trello"></i> Proyectos </a></li>
              <li><a href="{{url_for('client.my_sprints')}}"><i class="icon fa fa-tasks"></i> Mis tickets </a></li>
    				</ul>
    		</nav>
    		<!-- //nav left menu-->




    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/mmenu/jquery.mmenu.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/styleswitch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/styleswitch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/form/form.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/datetime/datetime.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/chart/chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/pluginsForBS/pluginsForBS.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/miscellaneous/miscellaneous.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/caplet.custom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/validate_user_exist.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sweet.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>


  </body>
</html>
