{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li><a href="{{url_for('user.users')}}">Usuarios</a></li>
    <li class="active">Editar Usuario</li>
</ol>

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Editar a </strong>{{user.user}}</h2>
                  <label class="color"><a href="{{url_for('user.users')}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                  <form class="form-horizontal " data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >
                    {{ form.csrf_token }}
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-key"></i></label>
                          <div>
                              {{ render_field_without_label(form.password,class="form-control user_id", placeholder="Clave anterior",autocomplete="off") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-key"></i></label>
                          <div>
                              {{ render_field_without_label(form.new_password,class="form-control user_id", placeholder="Nueva clave",autocomplete="off") }}
                          </div>
                      </div>




                      <div class="form-group offset">

                          <div>
                              <button type="submit" class="btn btn-theme">Editar</button>
                                <a type="submit" class="btn btn-info" href="{{url_for('user.users')}}">Volver</a>
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>

{% endblock %}
