{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li><a href="{{url_for('user.users')}}">Usuarios</a></li>
    <li class="active">Editar Usuario</li>
</ol>

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Editar a </strong>{{user.user}}</h2>
                  <label class="color"><a href="{{url_for('user.users')}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                  <form class="form-horizontal form_new_user" data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-male"></i></label>
                          <div>
                              {{ render_field_without_label(form.name,value=user.nombre,class="form-control", placeholder="Nombre",autocomplete="off") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-envelope"></i></label>
                          <div>
                            {{ render_field_without_label(form.email,value=user.email,class="form-control", placeholder="Correo",autocomplete="off") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-clock-o"></i></label>
                          <div>
                            {{ render_field_without_label(form.cost_hour,value=user.costo_hora,class="form-control", placeholder="Costo por hora",autocomplete="off",type="number",min="0") }}
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-sitemap"></i></label>
                          <div>
                            {% if user.rol=="gerente" %}
                              {{ render_field_without_label(form.rol_gerent,class="form-control") }}
                            {% elif user.rol=="gestor" %}
                              {{ render_field_without_label(form.rol_gestor,class="form-control") }}
                            {% else %}
                              {{ render_field_without_label(form.rol_developer,class="form-control") }}
                            {% endif %}
                          </div>
                      </div>



                      <div class="form-group offset">

                          <div>
                              <button type="submit" class="btn btn-theme">Editar</button>
                                <a type="submit" class="btn btn-info" href="{{url_for('user.users')}}">Volver</a>
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>

{% endblock %}
