{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li class="active">Editar Usuario</li>
</ol>

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Editar</strong> Me</h2>
                  <label class="color"><a href="{{url_for('user.home')}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                  <form class="form-horizontal form_new_user" data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >

                    {{ form.csrf_token }}
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-male"></i></label>
                          <div>
                              <img class="form-control" src="{{ url_for('static', filename='img/'+session['img_user']) }}" style="height:150px;width:150px">
                              <a href="{{url_for('user.upload_profile_photo')}}"  type="button" class="btn btn-default">
                                Editar
                              </a>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-envelope"></i></label>
                          <div>
                              {{ render_field_without_label(form.email,value = user.email,class="form-control email_editme", placeholder="Correo",autocomplete="off") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label">Clave</label>
                          <div>

                            <div class="row">
                                <div class="col-sm-4 iSwitch flat-switch show_input_password">
                                      <div class="switch">
                                          <input type="checkbox">
                                      </div>
                                </div>
                            </div>

                          </div>
                      </div>
                      <div class="form-group panel_password" >
                          <label class="control-label">Actual</label>
                          <div>
                              {{ render_field_without_label(form.old_password,class="form-control", placeholder="Clave actual",autocomplete="off") }}
                          </div>
                      </div>
                      <div class="form-group panel_password" >
                          <label class="control-label">Nueva</label>
                          <div>
                              {{ render_field_without_label(form.new_password,class="form-control",placeholder="Nueva clave") }}
                          </div>
                      </div>
                      <div class="form-group panel_password_confirm" >
                          <label class="control-label"><i class="fa fa-key"></i></label>
                          <div>
                              {{ render_field_without_label(form.exist_password,value="False",class="form-control confirm_pass") }}
                          </div>
                      </div>

                      <div class="form-group offset">

                          <div>
                              <button type="submit" class="btn btn-theme btn_editme">Editar</button>
                                <a type="submit" class="btn btn-info" href="{{url_for('user.home')}}">Volver</a>
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>

{% endblock %}
