{% extends "template/template.html" %}
{% block content %}
<div id="content">

    <div class="row">
        {% if count_projects > 0 %}
          <div class="col-md-12 container_projects_home">
            <section class="panel">

              <div class="panel-body">
                <div class="row">
                  <div class="col-md-7">
                      <h3><strong>Porcentajes </strong></h3>
                      <br>
                      {% for project in my_projects %}
                        {% if project.porcentaje > 60  and project.porcentaje < 100%}
                          <div class="progress progress-shine progress-sm">
                            <div class="progress-bar bg-{{project.color}}" aria-valuetransitiongoal="{{project.porcentaje}}"></div>
                          </div>
                          <label class="progress-label">{{project.nombre}} {{project.porcentaje}}%</label>
                        {% else %}
                          <div class="progress progress-sm">
                            <div class="progress-bar bg-{{project.color}}" aria-valuetransitiongoal="{{project.porcentaje}}"></div>
                          </div>
                          <label class="progress-label">{{project.nombre}} {{project.porcentaje}}%</label>
                        {% endif %}
                      {% endfor %}
                      <!-- //progress-->

                  </div>
                  <div class="col-md-5">
                      <h3><strong>Mis </strong> Proyectos</h3>
                      <br>
                      <ol class="rectangle-list">
                        {% for project in my_projects %}
                            <li><a href="#" class="show_detail_project_home" id="{{project.id}}">{{project.nombre}}<span class="pull-right">{{project.porcentaje}} %</span></a></li>
                        {% endfor %}
                      </ol>
                  </div>
                </div>
              </div>
            </section>

            {% for project in my_projects %}
              <section class="panel bg-dark panel_task_graph" id="panel_graph-{{project.id}}" style="display:none">
                  <div class="tabbable">
                    <ul class="nav nav-tabs chart-change">
                      <li class="active"><a  class="bars_li-{{project.id}}" href="javascript:void(0)" data-change-type="bars" data-for-id="#stack-chart"><i class="fa fa-bar-chart-o"></i> &nbsp; Barras</a></li>
                      <li style="display:none"><a href="javascript:void(0)" data-change-type="lines" data-for-id="#stack-chart"><i class="fa fa-qrcode"></i> &nbsp; Lineas</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade in active">
                        <div class="widget-chart chart-dark">
                          <table id="stack-chart" data-stack="true" class="flot-chart" data-type="lines"  data-yaxis-max="{{project.horas_estimadas|int + 50}}" data-tool-tip="show" data-width="100%" data-height="300px"  data-bar-width="0.5" data-tick-color="rgba(0,0,0,0.05)">
                            <thead>
                              <tr>
                                <th></th>
                                {% if project.horas_estimadas|int >= project.horas %}
                                  <th style="color : #3db9af;">Horas trabajadas</th>
                                  <th style="color : #d9dfe3 ;">Horas estimadas</th>
                                {% else %}
                                  <th style="color : #3db9af;">Horas estimadas</th>
                                  <th style="color : #f35958 ;">Horas trabajadas</th>
                                {% endif %}
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th>{{project.nombre}}</th>
                                {% if project.horas_estimadas|int >= project.horas %}
                                  <td>{{project.horas}}</td>
                                  <td>{{project.horas_estimadas}}</td>
                                {% else %}
                                  <td>{{project.horas_estimadas}}</td>
                                  <td>{{project.horas}}</td>
                                {% endif %}
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
            {% endfor %}
          </div>

            {% for project in my_projects%}
              {% if project.total >0 %}
              <div class="col-md-4 panel_task" id ="panel-{{project.id}}" style="display:none">
                <section class="panel" >
                <header class="panel-heading no-borders">
                    <label class="color">Grafica de<strong> modulos </strong></label>
                </header>
                    <div class="widget-chart">

                        <table id="example_pieDonut" class="flot-chart" data-type="pie" data-inner-radius="0.7" data-pie-style="shadow" data-tool-tip="show" data-width="100%" data-height="220px" >
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="color : #3db9af;">Finalizados ({{project.finalizadas}})</th>
                                    <th style="color : #DC4D79;">Pendientes ({{project.pendientes}})</th>
                                    <th style="color : #D4DF5A;">En proceso ({{project.desarrollo}})</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th></th>
                                    <td>{{project.finalizadas}}</td>
                                    <td>{{project.pendientes}}</td>
                                    <td>{{project.desarrollo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- // widget-chart -->

                    <!-- //panel-group -->

                </section>
              </div>
              {% endif %}
            {% endfor %}
        {% else %}

        {% endif %}
    </div>


</div>

{% endblock %}
