{% extends "template/template_links.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}

{% block content %}
<body class="full-lg">
  <div id="wrapper">


  <div id="main">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">

                  <div class="account-wall">
                      <section class="align-lg-center">
                      <div class="site-logo"></div>
                      <h1 class="login-title"><span>Blau</span>tech<small></small></h1>
                      </section>
                      <form id="form-signin" class="form-signin" action="{{ url_for('user.login') }}" method="post">
                        {{ form.csrf_token }}
                        {% if error %}
                        <div class="alert alert-danger">
                          <strong>Error:</strong> {{ error }}
                        </div>
                        {% endif %}
                        {% if info %}
                          <div class="alert alert-info">
                              <strong>Info:</strong> {{ info }}
                          </div>
                        {% endif %}
                          <section>
                              <div class="input-group">
                                  <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                  {{ render_field_without_label(form.user,class_="form-control", placeholder="Nombre de usuario") }}
                              </div>
                              <div class="input-group">
                                  <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                  {{ render_field_without_label(form.password,class_="form-control", placeholder="Clave") }}
                              </div>
                              <button class="btn btn-lg btn-theme-inverse btn-block" type="submit" id="sign-in">Iniciar sesion</button>
                          </section>
                          <section class="clearfix">
  														<a href="{{url_for('user.forget_password')}}" class="pull-right help">Olvidaste tu contraseña? </a>
  												</section>
                          <span class="or" data-text="O"></span>
                          <a  href="{{url_for('user.register_user')}}" class="btn btn-lg  btn-inverse btn-block" type="button"> Registrate </a>

                      </form>
                      <a href="#" class="footer-link">&copy; 2017 Blautech &trade; </a>
                  </div>
                  <!-- //account-wall-->

              </div>
              <!-- //col-sm-6 col-md-4 col-md-offset-4-->
          </div>
          <!-- //row-->
      </div>
      <!-- //container-->

  </div>
  <!-- //main-->


  </div>


  <script type="text/javascript">
  $(function() {
  		   //Login animation to center
  			function toCenter(){
  					var mainH=$("#main").outerHeight();
  					var accountH=$(".account-wall").outerHeight();
  					var marginT=(mainH-accountH)/2;
  						   if(marginT>30){
  							   $(".account-wall").css("margin-top",marginT-15);
  							}else{
  								$(".account-wall").css("margin-top",30);
  							}
  				}
  				toCenter();
  				var toResize;
  				$(window).resize(function(e) {
  					clearTimeout(toResize);
  					toResize = setTimeout(toCenter(), 500);
  				});

  			//Canvas Loading
  			  var throbber = new Throbber({  size: 32, padding: 17,  strokewidth: 2.8,  lines: 12, rotationspeed: 0, fps: 15 });
  			  throbber.appendTo(document.getElementById('canvas_loading'));
  			  throbber.start();

  			//Set note alert
  			setTimeout(function () {
  				$.notific8('Puedes solicitar tu cuenta entrando a nuestra pagina web',{  horizontalEdge:"top", theme:"inverse" ,heading:"TIP"})
        }, 500);


  	});
  </script>
</body>
{% endblock %}
