{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}/home">Inicio</a></li>
    <li><a href="{{url_for('user.users')}}">Usuarios</a></li>
    <li class="active">Nuevo usuario</li>
</ol>
<!-- //breadcrumb-->

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Nuevo</strong> usuario</h2>
                  <label class="color"><a href="{{url_for('user.users')}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                  <form class="form-horizontal form_new_user" data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >
                    {{ form.csrf_token }}
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-sitemap"></i></label>
                          <div>
                              {{ render_field_without_label(form.rol,class_="form-control", placeholder="Rol",autocomplete="off") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-male"></i></label>
                          <div>
                              {{ render_field_without_label(form.name,class_="form-control", placeholder="Nombre",autocomplete="off") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-user"></i></label>
                          <div>
                              {{ render_field_without_label(form.user,class_="form-control user_id", placeholder="Usuario",autocomplete="off") }}
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-envelope"></i></label>
                          <div>
                            {{ render_field_without_label(form.email,class_="form-control", placeholder="Correo",autocomplete="off") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-clock-o"></i></label>
                          <div>
                            {{ render_field_without_label(form.cost_hour,class_="form-control", placeholder="Costo por hora",autocomplete="off",type="number") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-key"></i></label>
                          <div>
                            {{ render_field_without_label(form.password,class_="form-control", placeholder="Clave") }}
                          </div>
                      </div>

                      <div class="form-group offset">

                          <div>
                              <button type="submit" class="btn btn-theme">Agregar</button>
                              {% if error==None %}
                                <button type="reset" class="btn" onclick="formReset()">Limpiar</button>
                              {% endif %}
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>
<!-- //content-->
{% endblock %}
