{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li class="active">Notificaciones</li>
</ol>

<div id="content">

    <div class="row">


        <div class="col-lg-12">

            <section class="panel">
                <header class="panel-heading">
                    <h2><strong>Notificaciones de {{ session['name'] }}</strong></h2>
                    <label class="color">Listado de <em><strong> notificaciones</strong></em></label>
                </header>

                <div class="panel-body">
                  {% if error %}
                      <div class="alert alert-danger">
                          <strong>Error:</strong> {{ error }}
                      </div>
                  {% endif %}
                  {% if info %}
                      <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                        <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Nombre</th>
                                      <th>Descripcion</th>
                                      <th>Fecha Creacion</th>
                                      <th>Estado</th>
                                      <th>Accion</th>
                                  </tr>
                              </thead>
                              <tbody align="center">
                                {% for notification in notifications %}
                                  <tr>
                                      <td>{{notification.nombre}}</td>
                                      <td>{{notification.descripcion}}</td>
                                      <td>{{notification.fecha_creacion}}</td>
                                      <td>{{notification.estado}}</td>
                                      <td>
                                        {% if notification.estado=="pendiente" %}
                                          <a href="#" class="btn btn-default btn-sm notify_checked" id="{{notification.id}}" title="Marcar como leida"><i class="fa fa-check"></i></a>
                                        {% endif %}
                                        <a href="#"  class="btn btn-default btn-sm delete_notification" id="{{notification.id}}" title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                      </td>

                                  </tr>
                                {% endfor %}

                              </tbody>
                          </table>
                          <div class="clearfix">
                            {{ pagination.links | safe }}
                        </div>
                    </div>
                </div>
            </section>



        </div>

    </div>
    <!-- //content > row-->

</div>
{% endblock %}
