{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li class="active">Usuarios</li>
</ol>

<div id="content">

    <div class="row">


        <div class="col-lg-12">

            <section class="panel">
                <header class="panel-heading">
                    <h2><strong>Usuarios</strong></h2>
                    <label class="color">Listado de <em><strong> usuarios</strong></em></label>
                </header>

                <div class="panel-body">
                  {% if error %}
                      <div class="alert alert-danger">
                          <strong>Error:</strong> {{ error }}
                      </div>
                  {% endif %}
                  {% if info %}
                      <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                        <div class="table-responsive">
                          <!-- <a  href="/new_user" type="button" class="btn btn-primary" name="button">Agregar Usuario</a> -->
                          <form class="" action="" method="post">
                            {{ form.csrf_token }}
                              <div class="table-filter">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="col-md-2">
                                            {{ render_field_without_label(form.user_name,value=user_name,class="form-control", placeholder="Nombre") }}
                                          </div>
                                          <div class="col-md-2">
                                            {{ render_field_without_label(form.user,value=user,class="form-control", placeholder="Usuario") }}
                                          </div>
                                          <div class="col-md-2">
                                            {{ render_field_without_label(form.email,value=email,class="form-control", placeholder="Correo") }}
                                          </div>
                                          <div class="col-md-2">
                                            {{ render_field_without_label(form.rol,value=rol,class="form-control", placeholder="Rol") }}
                                          </div>
                                          <div class="col-md-2">
                                            {{ render_field_without_label(form.state,value=state,class="form-control", placeholder="Estado") }}
                                          </div>
                                          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                                      </div>
                                  </div>
                              </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Usuario</th>
                                        <th>Correo</th>
                                        <th>Rol</th>
                                        <th>Costo por hora</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                  {% for user in users %}
                                    <tr>
                                        <td>{{user.nombre}}</td>
                                        <td>{{user.user_name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.rol}}</td>
                                        <td>{{user.cost_hour}}</td>
                                        <td>
                                          <div class=" iSwitch flat-switch">
                                                <div class="switch switch-small active_user" id={{user.id}} active={{user.active}}>
                                                    {% if user.active  %}
                                                      <input type="checkbox" class="input_active_user" checked>
                                                    {% endif %}
                                                    {% if user.active==False  %}
                                                      <input type="checkbox" class="input_active_user">
                                                    {% endif %}
                                                </div>
                                          </div>
                                        </td>
                                        <td>
                                          <span class="tooltip-area">
                                          {% if user.active %}
                                            <a href="{{url_for('user.edit_user',user_id=user.id)}}" class="btn btn-default btn-sm" title="Editar"><i class="fa fa-pencil"></i></a>
                                            <a href="{{url_for('user.change_password',id=user.id)}}"  class="btn btn-default btn-sm " title="Cambiar clave"><i class="fa fa-key"></i></a>
                                          {% endif %}
                                          <a href="#"  class="btn btn-default btn-sm delete_user" id="{{user.id}}" title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                          </span>
                                        </td>
                                    </tr>
                                  {% endfor %}

                                </tbody>
                            </table>
                            <div class="clearfix">
                              {{ pagination.links | safe }}
                          </div>
                      </form>
                    </div>
                </div>
            </section>



        </div>

    </div>
    <!-- //content > row-->

</div>
{% endblock %}
