{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li class="active">Asignaciones</li>
</ol>

<div id="content">

    <div class="row">


        <div class="col-lg-12">

            <section class="panel">
                <header class="panel-heading">
                    <h2><strong>Asignaciones</strong></h2>
                    <label class="color">Listado de <em><strong> asignaciones</strong></em></label>
                </header>

                <div class="panel-body">
                  {% if error %}
                      <div class="alert alert-danger">
                          <strong>Error:</strong> {{ error }}
                      </div>
                  {% endif %}
                  {% if info %}
                      <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                        <div class="table-responsive">
                          <!-- <a  href="/new_user" type="button" class="btn btn-primary" name="button">Agregar Usuario</a> -->
                          <form class="" action="" method="post">
                            {{ form.csrf_token }}
                              <div class="table-filter">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="col-md-3">
                                            {% if count_groups > 0 %}
                                              <select  class="selectpicker  select_group_assign" data-size="10" data-live-search="true">
                                                  <option value="">Grupos</option>
                                                  {% for group in groups %}
                                                    <option value="{{group.id}}">{{group.nombre}}</option>
                                                  {% endfor %}
                                              </select>
                                            {% endif %}
                                            {{ render_field_without_label(form.group,value=user_name,class="form-control input_group_assign", placeholder="Grupo",style="display:none") }}
                                          </div>
                                          <div class="col-md-3">
                                            {% if projects_count > 0 %}
                                              <select  class="selectpicker  select_project_assign" data-size="10" data-live-search="true">
                                                  <option value="">Proyectos</option>
                                                  {% for project in projects %}
                                                    <option value="{{project.id}}">{{project.nombre}}</option>
                                                  {% endfor %}
                                              </select>
                                            {% endif %}
                                            {{ render_field_without_label(form.project,value=user,class="form-control input_project_assign", placeholder="Proyecto",style="display:none") }}
                                          </div>
                                          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                      </div>
                                  </div>
                              </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Grupo</th>
                                        <th>Empresa</th>
                                        <th>Ticket</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                  {% for assignment in assignments %}
                                    <tr>
                                        <td>{{assignment.nombre_grupo}}</td>
                                        <td>{{assignment.nombre_proyecto}}</td>
                                        <td>
                                          <div class=" iSwitch flat-switch">
                                                <div class="switch switch-small active_ticket" id={{assignment.id}} active={{assignment.ticket}}>
                                                    {% if assignment.ticket  %}
                                                      <input type="checkbox" class="" checked>
                                                    {% endif %}
                                                    {% if assignment.ticket==False  %}
                                                      <input type="checkbox" class="">
                                                    {% endif %}
                                                </div>
                                          </div>
                                        </td>
                                        <td>
                                          <span class="tooltip-area">
                                          <a href="{{url_for('client.edit_assignment',assignment_id=assignment.id)}}" class="btn btn-default btn-sm" title="Editar"><i class="fa fa-pencil"></i></a>
                                          <a href="#"  class="btn btn-default btn-sm delete_assignment" id="{{assignment.id}}" title="Eliminar"><i class="fa fa-trash-o"></i></a>
                                          </span>
                                        </td>
                                    </tr>
                                  {% endfor %}

                                </tbody>
                            </table>
                            <div class="clearfix">
                              {{ pagination.links | safe }}
                          </div>
                        </form>
                    </div>
                </div>
            </section>



        </div>

    </div>
    <!-- //content > row-->

</div>
{% endblock %}
