{% extends "template/template_client.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('client.homec')}}">Inicio</a></li>
    <li class="active">Editar Usuario</li>
</ol>

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Editar</strong> Me</h2>
                  <label class="color"><a href="{{url_for('client.homec')}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                  <form class="form-horizontal" data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >

                    {{ form.csrf_token }}
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-male"></i></label>
                          <div>
                              <img class="form-control" src="{{ url_for('static', filename='img/'+session['img_user']) }}" style="height:150px;width:150px">
                              <a href="{{url_for('client.upload_client_photo')}}"  type="button" class="btn btn-default">
                                Editar
                              </a>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label">Clave</label>
                          <div>

                            <div class="row">
                                <div class="col-sm-4 iSwitch flat-switch ">
                                      <div class="switch show_input_password_client">
                                          <input type="checkbox">
                                      </div>
                                </div>
                            </div>
                            {{ render_field_without_label(form.password,class_="form-control input_pass_profile", placeholder="Clave actual",autocomplete="off",style="margin-top:15px;display:none") }}
                            {{ render_field_without_label(form.new_password,class_="form-control input_pass_profile", placeholder="Nueva clave",autocomplete="off",style="display:none") }}
                            {{ render_field_without_label(form.flag_password,class_="form-control input_flag_password",type="number",max="1",min="0",value=0,style="display:none") }}
                          </div>
                      </div>
                      <div class="form-group offset input_pass_profile" style="display:none">
                          <div>
                              <button type="submit" class="btn btn-theme">Editar</button>
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>

{% endblock %}
