{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li><a href="{{url_for('client.assignments')}}">Asignaciones</a></li>
    <li class="active">Editar Asignacion</li>
</ol>

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Editar </strong>Asignacion</h2>
                  <label class="color"><a href="{{url_for('client.assignments')}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                  <form class="form-horizontal " data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >
                    {{ form.csrf_token }}


                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-building-o"></i></label>
                          <div>

                            <select  class="selectpicker  select_group_assign" data-size="10" data-live-search="true">
                                {% for group in groups %}
                                  {% if group.id == assignment.grupo %}
                                    {% if group.activo == False %}
                                      <option value="{{group.id}}" selected disabled>{{group.nombre}} (Inactivo)</option>
                                    {% else %}
                                      <option value="{{group.id}}" selected>{{group.nombre}}</option>
                                    {% endif %}
                                  {% else %}
                                    {% if group.activo == False %}
                                      <option value="{{group.id}}" disabled>{{group.nombre}} (Inactivo)</option>
                                    {% else %}
                                      <option value="{{group.id}}">{{group.nombre}}</option>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                            </select>
                          {{ render_field_without_label(form.group,value=assignment.grupo,class="form-control input_group_assign", placeholder="Grupo",autocomplete="off",style="display:none") }}
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-code"></i></label>
                          <div>

                            <select  class="selectpicker  select_project_assign" data-size="10" data-live-search="true">
                                {% for project in projects %}
                                  {% if project.id == assignment.proyecto %}
                                    {% if project.activo == False %}
                                      <option value="{{project.id}}" selected disabled>{{project.nombre}} (Inactivo)</option>
                                    {% else %}
                                      <option value="{{project.id}}" selected>{{project.nombre}}</option>
                                    {% endif %}
                                  {% else %}
                                    {% if project.activo == False %}
                                      <option value="{{project.id}}" disabled>{{project.nombre}} (Inactivo)</option>
                                    {% else %}
                                      <option value="{{project.id}}">{{project.nombre}}</option>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                            </select>
                          {{ render_field_without_label(form.project,value=assignment.proyecto,class="form-control input_project_assign", placeholder="Proyecto",autocomplete="off",style="display:none") }}
                          </div>
                      </div>

                      <div class="form-group offset">
                          <div>
                              <button type="submit" class="btn btn-theme btn_add_assign" style="display:none">Editar</button>
                                <a type="submit" class="btn btn-info" href="{{url_for('client.assignments')}}">Volver</a>
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>

{% endblock %}
