{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li><a href="{{url_for('client.clients')}}">Clientes</a></li>
    <li class="active">Editar Cliente</li>
</ol>

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Editar a </strong>{{client.nombre}}</h2>
                  <label class="color"><a href="{{url_for('client.clients')}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                  <form class="form-horizontal " data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >
                    {{ form.csrf_token }}
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-male"></i></label>
                          <div>
                              {{ render_field_without_label(form.name,value=client.nombre,class="form-control", placeholder="Nombre",autocomplete="off") }}
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-envelope"></i></label>
                          <div>
                              {{ render_field_without_label(form.email,value=client.email,class="form-control", placeholder="Correo",autocomplete="off") }}
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-building-o"></i></label>
                          <div>
                            <select  class="selectpicker  select_company" data-size="10" data-live-search="true">
                                {% for company in companies %}
                                  {% if client.empresa == company.id %}
                                    {% if company.activo == False %}
                                      <option value="{{company.id}}" selected disabled>{{company.nombre}} (Inactivo)</option>
                                    {% else %}
                                      <option value="{{company.id}}" selected>{{company.nombre}}</option>
                                    {% endif %}
                                  {% else %}
                                    {% if company.activo == False %}
                                      <option value="{{company.id}}" disabled>{{company.nombre}} (Inactivo)</option>
                                    {% else %}
                                      <option value="{{company.id}}">{{company.nombre}}</option>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                            </select>
                            <select  class="selectpicker  select_group" data-size="10" data-live-search="true">
                                {% for group in groups %}
                                  {% if group.id == client.grupo %}
                                    {% if group.activo == False %}
                                      <option value="{{group.id}}" selected disabled>{{group.nombre}} (Inactivo)</option>
                                    {% else %}
                                      <option value="{{group.id}}" selected>{{group.nombre}}</option>
                                    {% endif %}
                                  {% else %}
                                    {% if group.activo == False %}
                                      <option value="{{group.id}}" disabled>{{group.nombre}} (Inactivo)</option>
                                    {% else %}
                                      <option value="{{group.id}}">{{group.nombre}}</option>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                            </select>
                              {{ render_field_without_label(form.company,value=client.empresa,class="form-control input_company", placeholder="Empresa",autocomplete="off",style="display:none") }}
                              {{ render_field_without_label(form.group,value=client.grupo,class="form-control input_group", placeholder="Grupo",autocomplete="off",style="display:none") }}
                          </div>
                      </div>

                      <div class="form-group offset">
                          <div>
                              <button type="submit" class="btn btn-theme">Editar</button>
                                <a type="submit" class="btn btn-info" href="{{url_for('client.clients')}}">Volver</a>
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>

{% endblock %}
