{% extends "template/template_client.html" %}
{% block content %}
<div id="overview">
    <div class="row">
        <div class="col-sm-9">
            <section class="profile-cover">
                <div class="profile-avatar">
                    <div>
                      <img alt="" src="{{ url_for('static', filename='img/'+admin.img) }}" class="circle">
                      <span>{{admin.nombre}}</span>
                    </div>
                </div>
                <div class="profile-status">
                  {% if (tasks_count==1) %}
                    <a class="btn"> {{tasks_count}} <small>Tarea</small></a>
                  {% else %}
                    <a class="btn"> {{tasks_count}} <small>Tareas</small></a>
                  {% endif %}
                </div>
            </section>
        </div>
        <!-- //content > row > col-sm-9 -->

        <div class="col-sm-3">
            <section class="profile-about">
                <h3>{{module.nombre}}</h3>
                <hr>
                <p>{{module.descripcion}}</p>
            </section>
        </div>
        <!-- //content > row > col-lg-3 -->
    </div>
    <!-- //row-->
</div>

<div class="tabbable">
    <ul id="profile-tab" class="nav nav-tabs" data-provide="tabdrop">
        <li><a href="#" id="prevtab" data-change="prev"><i class="fa fa-chevron-left"></i></a></li>
        <li><a href="#" id="nexttab" class="change" data-change="next"><i class="fa fa-chevron-right"></i></a></li>
        <li class="active"><a href="#tab1" data-toggle="tab">Tareas</a></li>
        <li><a href="#tab2" data-toggle="tab" class="timeline-show find_new_comments_client" id="{{module.id}}" >Comentarios</a></li>
        <li><a href="#tab3" data-toggle="tab" class="" >Documentos</a></li>
    </ul>
    {% if info %}
      <div class="alert alert-info">
            <strong>Info:</strong> {{ info }}
        </div>
    {% endif %}
    {% if error %}
      <div class="alert alert-danger">
            <strong>Error :</strong> {{ error }}
        </div>
    {% endif %}
    <div class="tab-content row">

            <div class="tab-pane fade in active col-lg-8" id="tab1">
              {% if tasks_count > 0 %}
                {% for task in tasks %}
                  <div class="col-md-6 ">
                    <section class="panel " style="box-shadow: 0px 0px 1px #000">
                      <header class="panel-heading">
                          <h2 class="">{{task.nombre}}</h2>
                          {% if task.horas_invertidas ==1 %}
                            <label class="color label-info bg-warning" style="cursor:pointer"><em><strong>{{task.horas_invertidas}} Hora invertida</strong></em></label>
                          {% else %}
                            <label class="color label-info bg-warning" style="cursor:pointer"><em><strong>{{task.horas_invertidas}} Horas invertidas</strong></em></label>
                          {% endif %}
                          <label class="color label-info bg-primary" style="cursor:pointer"><em><strong>{{task.fecha_creacion}}</strong></em></label>
                      </header>
                    </section>
                  </div>
                {% endfor %}
              {% else %}
                <h2 style="text-align:center">No hay tareas agregadas al modulo</h2>
              {% endif %}

            </div>
            <!-- /#tab1-->


            <div class="tab-pane fade col-lg-8" id="tab2">
              <section class="panel panel_comments_module" >
                  <div class="widget-chat">
                      <header>
                          <span class="chat-collapse pull-right" title="Collapse chat">
                              <i class="fa fa-minus"></i>
                          </span>
                          <h4 class="online"> Comentarios</h4>
                          <label class="label_id_user" id="{{session['id_user']}}"></label>
                          <label class="label_id_comment" id=""></label>
                      </header>
                      <div class="chat-body" >
                          <dl class="chat container_chat_module">
                            {% for comment in comments %}
                              {% if comment.usuario == session['id_user'] %}
                                <dt id="text-detail-{{comment.id}}" style="display:none"><strong></strong>{{comment.creacion}}</dt>
                                <dd class="to detail_comment" style="cursor:pointer" id="{{comment.id}}">
                                  <p>{{comment.mensaje}}</p>
                                </dd>
                              {% else %}
                                <dt id="text-detail-{{comment.id}}" style="display:none"><strong></strong>{{comment.creacion}}</dt>
                                <dd class="from detail_comment" style="cursor:pointer" id="{{comment.id}}">
                                  <p>{{comment.mensaje}}</p>
                                  <img alt="" src="{{ url_for('static', filename='img/'+comment.img_user)}}" class="avatar circle">
                                </dd>
                              {% endif %}
                            {% endfor %}
                          </dl>
                      </div>
                      <footer>
                          <div class="message-input" action="#">
                              <input name="message" class="input_comment_module" type="text" placeholder="Ingresa tu comentario" autocomplete="False"/>
                              <button type="button" class="btn btn-theme btn_input_module" id="{{module.id}}" disabled=True>Comentar</button>
                          </div>
                      </footer>
                  </div>
              </section>
            </div>
            <!-- /#tab2-->

            <div class="tab-pane fade col-lg-8" id="tab3">
              <div class="box-feed  clearfix">
                {% for document in documents %}
                <a href="{{url_for('client.download_document',id_document=document.id)}}"><div class="col-sm-4"><img alt="" src="{{ url_for('static', filename='img/'+document.img)}}" class="img-document"><p style="text-align:center">{{document.nombre}}</p></div></a>
                {% endfor %}                
              </div>
              <br>
              <a href="{{url_for('client.new_document_client',id_module=id_module)}}" class=" btn btn-primary"  style="margin-left:20px">Agregar documento</a>
            </div>
            <!-- /#tab2-->


            <div class="col-lg-4">
                <div class="widget-rating row">
                    <div class="col-xs-12">
                      <div class="well corner-flip flip-gray flip-bg-white bg-palevioletred-darken">
                          <div class="row">
                              <div class="col-xs-12 col-md-12 text-center">
                                  <h1 class="rating-num" >{{tasks_count}}</h1>
                                  {% if tasks_count == 1 %}
                                    <div> <span class="fa fa-code" style="margin-top:10px"></span> Tarea</div>
                                  {% else %}
                                    <div> <span class="fa fa-code" style="margin-top:10px"></span> Tareas</div>
                                  {% endif %}
                              </div>

                              <!-- end xs-12 -->
                          </div>
                          <!-- end row -->
                      </div>

                    </div>
                </div>

            <!-- //content > row > col-lg-4 -->

    </div>
    <!-- //tab-content -->
</div>
{% endblock %}
