{% extends "template/template_client.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('client.homec')}}">Inicio</a></li>
    <li class="active">Tickets</li>
</ol>

<div id="content">

    <div class="row">


        <div class="col-lg-12">

            <section class="panel">
                <header class="panel-heading">
                    <h2><strong>Tickets</strong></h2>
                    <label class="color">Listado de <em><strong> tickets</strong></em></label>
                </header>

                <div class="panel-body">
                  {% if error %}
                      <div class="alert alert-danger">
                          <strong>Error:</strong> {{ error }}
                      </div>
                  {% endif %}
                  {% if info %}
                      <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Fecha compromiso</th>
                                        <th>Sprint</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                  {% for module in my_sprints %}
                                    <tr>
                                        <td>{{module.nombre}}</td>
                                        <td>{{module.fecha_estimada}}</td>
                                        <td>{{module.nombre_sprint}}</td>
                                        <td>
                                          <span class="tooltip-area">
                                          <a class="" href="{{url_for('client.module',id_module=module.id)}}" title="Detalles"><i class="icon  fa fa-share "></i></a>
                                          </span>
                                        </td>
                                    </tr>
                                  {% endfor %}

                                </tbody>
                            </table>
                            <div class="clearfix">
                              {{ pagination.links | safe }}
                          </div>

                    </div>
                </div>
            </section>



        </div>

    </div>
    <!-- //content > row-->

</div>
{% endblock %}
