{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}/home">Inicio</a></li>
    <li><a href="{{url_for('client.assignments')}}">Asignaciones</a></li>
    <li class="active">Nueva Asignacion</li>
</ol>
<!-- //breadcrumb-->

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Nueva</strong> Asignacion</h2>
                  <label class="color"><a href="{{url_for('client.assignments')}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                        <strong>Info:</strong> {{ info }}
                    </div>
                  {% endif %}
                  <form class="form-horizontal form_new_user" data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >
                    {{ form.csrf_token }}

                    <div class="form-group">
                        <label class="control-label"><i class="fa fa-building-o"></i></label>
                        <div>
                          {% if count_groups > 0 %}
                            <select  class="selectpicker  select_group_assign" data-size="10" data-live-search="true">
                                <option value="">Grupos</option>
                                {% for group in groups %}
                                  <option value="{{group.id}}">{{group.nombre}}</option>
                                {% endfor %}
                            </select>
                          {% endif %}
                          {{ render_field_without_label(form.group,class_="form-control  input_group_assign", placeholder="Grupo",autocomplete="off",style="display:none") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><i class="fa fa-code"></i></label>
                        <div>
                          {% if count_projects > 0 %}
                            <select  class="selectpicker  select_project_assign" data-size="10" data-live-search="true">
                                <option value="">Proyectos</option>
                                {% for project in projects %}
                                  <option value="{{project.id}}">{{project.nombre}}</option>
                                {% endfor %}
                            </select>
                          {% endif %}
                          {{ render_field_without_label(form.project,class_="form-control input_project_assign", placeholder="Proyecto",autocomplete="off",style="display:none") }}
                        </div>
                    </div>


                      <div class="form-group offset">
                          <div>
                              <button type="submit" class="btn btn-theme btn_add_assign" style="display:none">Agregar</button>
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>
<!-- //content-->
{% endblock %}
