{% extends "template/template_client.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}">Inicio</a></li>
    <li><a href="{{url_for('client.my_sprints')}}">Tickets</a></li>
    <li class="active">Nuevo ticket</li>
</ol>
<!-- //breadcrumb-->

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Nuevo</strong> Ticket</h2>
                  <label class="color"><a href="{{url_for('client.my_sprints')}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                  <form class="form-horizontal" data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >
                    {{ form.csrf_token }}
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-trello"></i></label>
                          <div>
                              {{ render_field_without_label(form.name,class="form-control", placeholder="Nombre") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa  fa-pencil"></i></label>
                          <div>
                              {{ render_field_without_label(form.description,class="form-control", placeholder="Descripcion") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa  fa-sitemap"></i></label>
                          <div>
                              {{ render_field_without_label(form.priority,class="form-control") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa  fa-tag"></i></label>
                          <div>
                              {{ render_field_without_label(form.explotation,class="form-control") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa  fa-calendar"></i></label>
                          <div>
                              {{ render_field_without_label(form.date,class="form-control", type="date") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-tasks"></i></label>
                          <div>
                            {% if count_sprints_project > 0 %}
                              <select  class="selectpicker  select_sprint_project" data-size="10" data-live-search="true">
                                  <option value="">Sprints</option>
                                  {% for sprint in sprints_project %}
                                    <option value="{{sprint.id}}">{{sprint.nombre}}</option>
                                  {% endfor %}
                              </select>
                            {% endif %}
                            {{ render_field_without_label(form.sprint,class="form-control input_sprint_project", placeholder="Sprint",style="display:none") }}
                            {% if count_sprints_project == 0 %}
                              <div class="alert alert-info">
                                  <strong>Info:</strong> No hay sprints en el proyecto
                              </div>
                            {% endif %}
                          </div>
                      </div>

                      <div class="form-group offset">
                          <div>
                              {% if count_sprints_project > 0 %}
                                <button type="submit" class="btn btn-theme btn_sprint_project" >Agregar</button>
                              {% endif %}
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>
<!-- //content-->
{% endblock %}
