{% extends "template/template.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('user.home')}}/home">Inicio</a></li>
    <li><a href="{{url_for('client.clients')}}">Clientes</a></li>
    <li class="active">Nuevo Cliente</li>
</ol>
<!-- //breadcrumb-->

<div id="content">

    <div class="row">

        <div class="col-lg-12">
          <section class="panel">

              <header class="panel-heading">
                  <h2><strong>Nuevo</strong> Cliente</h2>
                  <label class="color"><a href="{{url_for('client.clients')}}"> <i class="fa fa-mail-reply"></i> Volver</a></label>
              </header>
              <div class="panel-body">

                {% if error %}
                  <div class="alert alert-danger">
                        <strong>Error :</strong> {{ error }}
                    </div>
                {% endif %}
                  {% if info %}
                    <div class="alert alert-info">
                        <strong>Info:</strong> {{ info }}
                    </div>
                  {% endif %}
                  <form class="form-horizontal " data-alignlabel="center" data-col="sm" data-label="icon" data-colorlabel="theme" action="" method="post" >
                    {{ form.csrf_token }}
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-male"></i></label>
                          <div>
                              {{ render_field_without_label(form.name,class_="form-control", placeholder="Nombre",autocomplete="off") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-user"></i></label>
                          <div>
                              {{ render_field_without_label(form.user,class_="form-control client_id", placeholder="Usuario",autocomplete="off") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-envelope"></i></label>
                          <div>
                            {{ render_field_without_label(form.email,class_="form-control", placeholder="Correo",autocomplete="off") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-key"></i></label>
                          <div>
                            {{ render_field_without_label(form.password,class_="form-control", placeholder="Clave") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label"><i class="fa fa-building-o"></i></label>
                          <div>
                            {% if count_companies > 0 %}
                              <select  class="selectpicker  select_company" data-size="10" data-live-search="true">
                                  <option value="">Empresas</option>
                                  {% for company in companies %}
                                    <option value="{{company.id}}">{{company.nombre}}</option>
                                  {% endfor %}
                              </select>
                            {% endif %}

                            {% if count_groups > 0 %}
                              <select  class="selectpicker  select_group" data-size="10" data-live-search="true">
                                  <option value="">Grupos</option>
                                  {% for group in groups %}
                                    <option value="{{group.id}}">{{group.nombre}}</option>
                                  {% endfor %}
                              </select>
                            {% endif %}

                            {% if count_companies == 0 %}
                              <div class="alert alert-info">
                                  <strong>Info:</strong> No hay empresas agregadas
                                  <a href="{{url_for('client.new_company')}}" class="btn btn-info">Crear empresa</a>
                              </div>
                            {% endif %}
                            {% if count_groups == 0 %}
                              <div class="alert alert-info">
                                  <strong>Info:</strong> No hay grupos agregados
                                  <a href="{{url_for('client.new_group')}}" class="btn btn-info">Crear grupo</a>
                              </div>
                            {% endif %}

                            {{ render_field_without_label(form.company,class_="form-control input_company", placeholder="Empresa",autocomplete="off",style="display:none") }}
                            {{ render_field_without_label(form.group,class_="form-control  input_group", placeholder="Grupo",autocomplete="off",style="display:none") }}
                          </div>
                      </div>



                      <div class="form-group offset">

                          <div>
                              <button type="submit" class="btn btn-theme btn_add_client" style="display:none">Agregar</button>
                          </div>
                      </div>
                  </form>
              </div>
          </section>
        </div>


    </div>
    <!-- //content > row-->

</div>
<!-- //content-->
{% endblock %}
