{% extends "template/template_client.html" %}
{% from "template/forms_macros.html" import render_field_without_label %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('client.homec')}}">Inicio</a></li>
    <li class="active">Proyectos</li>
</ol>

<div id="content">

    <div class="row">


        <div class="col-lg-12">

            <section class="panel">
                <header class="panel-heading">
                    <h2><strong>Proyectos</strong></h2>
                    <label class="color">Listado de <em><strong> proyectos</strong></em></label>
                </header>

                <div class="panel-body">
                  {% if error %}
                      <div class="alert alert-danger">
                          <strong>Error:</strong> {{ error }}
                      </div>
                  {% endif %}
                  {% if info %}
                      <div class="alert alert-info">
                          <strong>Info:</strong> {{ info }}
                      </div>
                  {% endif %}
                        <div class="table-responsive">
                          <!-- <a  href="/new_user" type="button" class="btn btn-primary" name="button">Agregar Usuario</a> -->

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tickets</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                  {% for project in projects %}
                                    <tr>
                                        <td>{{project.nombre_proyecto}}</td>
                                        <td>
                                          {% if project.ticket == True %}
                                            Cuenta con tickets
                                          {% else %}
                                            No cuenta con tickets
                                          {% endif %}
                                        </td>
                                        <td>
                                          <span class="tooltip-area">
                                            {% if project.ticket == True %}
                                              <a href="{{url_for('client.new_sprint_client',id_project=project.proyecto)}}" class="btn btn-default btn-sm" title="Agregar ticket"><i class="fa fa-plus"></i></a>
                                            {% endif %}
                                          </span>
                                        </td>
                                    </tr>
                                  {% endfor %}

                                </tbody>
                            </table>
                            <div class="clearfix">
                              {{ pagination.links | safe }}
                          </div>

                    </div>
                </div>
            </section>



        </div>

    </div>
    <!-- //content > row-->

</div>
{% endblock %}
